src/main/app/test-jwt.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <flow name="test-jwt:lib-jwtk/jjwt">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/jjwt" doc:name="HTTP"/>
        <set-variable variableName="uncodedKey" value="${uncodedKey}" doc:name="setUncodedKeyProperty"/>
        <component doc:name="Java" class="com.abinbev.jwt.JJWTDecoder">

        </component>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="test-jwt:lib-jwtk/jjwt-injected-property">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/jjwt-injected-property" doc:name="HTTP"/>
        <component doc:name="Java">
            <singleton-object class="com.abinbev.jwt.JJWTDecoder">
                <property key="uncodedKey" value="${uncodedKey}"/>
            </singleton-object>
        </component>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="test-jwt:lib-auth0/java-jwt">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/java-jwt" allowedMethods="GET" doc:name="HTTP"/>
        <component class="com.abinbev.jwt.JWTDecoder" doc:name="Java java-jwt"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
